* {
    pading:0;
    margin:0;
}



.calculator-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #190482;
    padding: 0.5rem;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin: 20px auto;
    position: fixed;
    left: 50%;
    opacity: 0.8;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.calc-button {
    background-color: #7752FE;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 1px;
    width: 50px ;
    height: 50px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.9;
  }

.calc-button:hover {
    opacity: 0.5;
}

#calculator-monitor {
    grid-column: span 4; /* Make the monitor span all columns */
    background-color: #C2D9FF; /* Set background color for better visibility */
    border: 1px solid black;
    padding: 5px;
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px; /* Added margin for separation from buttons */
    border-radius: 10px;
}
.calc-button.disabled {
    background-color: #C2D9FF; /* Change background color for disabled button */
    /* cursor: not-allowed;  */
}

.calc-button.disabled:hover {
    opacity: 1; /* Keep opacity at full for disabled state */
}
.calc-button:active {
    background-color: #8E8FFA; /* Change the background color when the button is clicked */
}